#page-body {
    margin-top: 70px;
}

/*---------------------*/
/* 自定义标签页CSS */
.tab-pane .panel {
    border-top:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
}

.nav-tabs .close {
    margin-left: .8em;
    font-size: 1em;
}
/*---------------------*/

/*---------------------*/
/* 查询组件CSS */
.query-group .query {
    margin-top: 5px;
    margin-bottom: 5px;
}

.query-group [class*="col-md-"] {
    margin: 0;
    padding: 0;
}

.query-group .pagination {
	margin:0;
	margin-left:10px;
}

.query [class*="col-md-"] .form-control {
    border-radius: 0;
    border-right: 0;
}

.query [class*="col-md-"]:first-child .form-control {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.query [class*="col-md-"]:last-child .form-control {
    border-right: 1px solid #ccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/*---------------------*/